:root {
  font: 16px / 1.4 sans-serif;

  --text-error: darkred;
  --bg-error: #fee;
  --chart-primary: darkblue;

  --text-sm: .92rem;
  --border-radius-sm: 4px;
  --padding-sm: 8px;
}

status-message {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
}
